<%- include('partials/header') %>


<div align="Center">
  <img src="/logo.png" width="300" height="300"/>
</div>

<form action="/register" method="post" class="my-0">
  <div class="border border-5 shadow bg-white rounded" style="margin: 3% 22% 5% 22%; padding: 5% 5%">
    <div class="form-group ">
      <label for="email">Email</label>
      <input type="email" class="form-control" name="email" required placeholder="enter your email address">
    </div>
    <div class="form-group my-3">
      <label for="companyName">Company</label>
      <input type="text" class="form-control" name="companyName" required placeholder="enter your company name">
    </div>
    <div class="form-group my-3">
      <label for="username">Name</label>
      <input type="text" class="form-control" name="username" required placeholder="enter your name">
    </div>
    <div class="form-group my-3">
      <label for="password">Password</label>
      <input type="password" class="form-control"   minlength="4"
              maxlength="16" name="password" required placeholder="enter password">
    </div>
    <div class="form-group mt-5">
      <button type="submit" class="form-control btn btn-dark">Register</button>
      <button id="font-increase-btn" style=" background-color: rgb(157, 157, 228)"  class="btn btn-light">Increase Font Size</button>
    </div>
  </div> 
</form>


<%- include('partials/footer') %>


  <style>
    #font-increase-btn {
      float: right;
    }
    #middle-panel {
      height: 60%; /* Initial height of the middle panel */
      transition: height 0.3s ease-in-out; /* Smooth transition when height changes */
    }
    #middle-panel.large {
      height: 80%; /* Increased height of the middle panel when the font is increased */
    }
  </style>

  <script>
    var fontSize = 16; // initial font size
    document.getElementById("font-increase-btn").addEventListener("click", function() {
      fontSize += 2; // increase font size by 2
      document.body.style.fontSize = fontSize + "px";
      document.getElementById("middle-panel").classList.add("large"); // Add the "large" class to the middle panel to increase its size
    });
  </script>